
/****************************************  GENERAL  ****************************************/

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
h1 {
    color: black !important;
    font-size: 2.5em !important;
    text-align: center;
}
h2 {
    margin-top: 25px;
    text-align: center;
}
li {
    margin-top: 10px;
}
.container-fluid {
    padding: 0;
}
.main {
    /*margin-left:100px;
    margin-right: 100px;*/
}

/****************************************  HEADER  ****************************************/

header {
    margin-bottom: 35px;
}
.menuHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.navResponsive{
    display: none;
}
a.dropdown-item:hover{
    background-color: #007BFF;
}
.travel_train {
    background-image: url(../img/travel_train_nb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 365px;
    margin: 67px auto;
    margin-bottom: 0px;
}
.titre_img {
    padding-top: 165px;
    padding-left: 50px;
    font-size: 2em;
    color: white;
}

/****************************************  AFFICHAGE CHAPITRES  ****************************************/

.titre {
    font-size: 2em;
    text-align: left;
}
.titre a{
    color: black;
}
.titre a:hover{
    color: dodgerblue;
    text-decoration: none;
}
.date_billet {
    font-size: 0.8em;
    color: green;
    text-align: left;
    margin-left: 10px;
}
.contenu {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 1em;
}
.auteur {
    width: 100%;
    font-size: 0.8em;
    color: blue;
    text-align: right;
}

/*************************  Affichage photo biographie & liste chapitres  *****************************/

.postTitleRight {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    width: 200px;
}
.postsTitlesList {
    background-color: #CCCCCC;
    padding: 10px;
    font-size: 1em;
    width: 200px;
}
.postsTitlesList a {
    color: black;
}
.postsTitlesList a:hover {
    color: black;
}
.biographie {
    border-radius: 10px;
    width: 190px;
    height: auto;
}
#textBiographie{
    color: brown;
    font-style: italic;
    text-align: center;
}

/******************************  AFFICHAGE SINGLEPOST & COMMENTAIRES  ******************************/

#imgPost {
    width: 100%;
    height: auto;
    margin:0;
}
.comment {
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
}
.titreComment {
    background-color: #999999;
    margin: 0;
    padding: 5px;
}
.contenuComment {
    background-color: #CCCCCC;
    padding: 10px;
}
.commentAuthor {
    background-color: white;
    font-size: 14px;
    color: green;
}
.buttonValidComment {
    text-align: right;
}
.signalement {
    font-size: 0.8em;
    color: red;
    text-align: right;
    margin-top: -20px;
}
.signalement a {
    color: red;
}
.signalement a:hover {
    color: red;
}

/****************************************  ADMINISTRATION  ****************************************/

.menuAdmin {
    width: auto;
    margin-top: 10px;
    padding: 15px 0;
    background-color: gray;
    height: auto;
    font-size: 0.8em;
}
.menuAdmin a {
    padding: 15px;
    color: white;
}
.menuAdmin a:hover {
    color: white;
}
.titre_nav_admin {
    font-weight: bold;
    font-size: 1em;
    margin-left: 14px;
    margin-top: 25px;
}

/****************************************  FORMULAIRES  ****************************************/

form {
    margin: 0 auto;
    width: 80%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 0.5em;
}
label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 190px;
    text-align: left;
}
input,
textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;

    /* Pour que tous les champs texte aient la même dimension */
    width: 600px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
}
input:focus,
textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
}
textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;

    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
}
.button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 90px;
    /* même taille que les étiquettes */
}
button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
    margin-left: .5em;
}
.btn {
    margin-left: 10px;
}
.btn a {
    color: white;
    text-decoration: none;
}
.btn a:hover {
    color: white;
    text-decoration: none;
}
.btnGestion {
    text-align: right;
}
.btnGestion a {
    text-decoration: none;
    color: white;
}
.btnGestion a:hover {
    text-decoration: none;
    color: white;
}
#mdperror {
    color: red;
}

/****************************************  FOOTER  ****************************************/

footer {

}
#footerLink {
    color: lightgray;
}

/******************************************************************************************/
/****************************************RESPONSIVE****************************************/
/******************************************************************************************/

@media screen and (min-width: 480px) and (max-width: 1152px) {

    .navNormal{
        display:none;
    }
    .navResponsive{
        display: block;
    }
    .main {
        margin-top: 40px;
        margin-left:0;
        margin-right:0;
    }
    #imgPost {
        width: 700px;
        height: auto;
        margin:0;
    }
    .biographie{
        display:none;
    }
    #textBiographie{
        display:none;
    }
    .postTitleRight {
        display:none;
    }
    .postsTitlesList {
        display:none;
    }
    .travel_train {
        display:none;
    }
    .menuAdmin{
        display:none;
    }
}

@media screen and (max-width: 480px) {

    html,
    body {
        width: 100%;
    }
    .navNormal{
        display:none;
    }
    .navResponsive{
        display: block;
    }
    #AvionHeader{
        display:none;
    }
    #imgPost {
        width: 310px;
        height: auto;
        margin:auto;
    }
    .travel_train {
        display:none;
    }
    .biographie{
        display:none;
    }
    #textBiographie{
        display:none;
    }
    .postTitleRight {
        display:none;
    }
    .postsTitlesList {
        display:none;
    }
    .main {
        width: 310px;
        margin-top: 120px;
    }
    .contenu{
        width: 310px;
    }
    .menuAdmin{
        display:none;
    }
}


