<nav class="menuAdmin">
    <ul class="nav flex-column">
        <li><a href="index.php">Revenir au blog</a></li>
        <span>Gestion articles</span>
        <li><a href="index.php?page=addPost">Ajout d'un billet</a></li>
        <li><a href="index.php?page=administration">Gestion des billets</a></li>
        <br/>
        <span>Gestion utilisateurs</span>
        <li><a href="index.php?page=createUser">Ajouter un utilisateur</a></li>
        <li><a href="index.php?page=viewUser">Voir les utilisateurs</a></li>
    </ul>
</nav>